/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    scroll-behavior: smooth;
    
  font-family: "Sora", sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;

    color: white;

}
.nav-lists li a:hover{
    background-color: rgb(87, 95, 104);
    color: white;
}
/* li,a:hover{ 
     color: white; 
     background-color: dark rgb(32, 24, 24); */

p{
    color: #999;
}
h1{
    color: #ccc;
}
/* Utility Classes */

.flex {
    display: flex;
    align-items: center;
}

header {
    width: 100%;
    background-color: #48495B;
}
.container{
    max-width: 1180px;
    padding-inline: 30px;
    margin-inline: auto;
}
span{
    color: #cf890f;
}

nav {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    height: 70px;
    padding-inline: 50px;
    align-items: center;
    justify-content: space-between;
}

.nav-logo h1 {
    font-size: 32px;
    color: #ddd;
}

.nav-lists {
    gap: 20px;
}

.nav-lists li a {
    color: #9c9eaa;
    transition: all 0.4s ease;
}

.nav-icons {
    gap: 20px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
}

/* hero-section */

.hero-section{
    width: 100%;
    padding: 20px 30px 20px;
    justify-content: space-evenly;
}
.hero-left{
    margin-top: 8%;
    max-width: 400px;
    z-index: 1;
}
.hero-left span{
    font-size: 40px;
    color: #9c9eaa;
}
.hero-left h1{
    font-size: 50px;
    color: #ccc;
    letter-spacing: 1px;
    position: relative;
}
.hero-left h1:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 90px;
    height: 4px;
    background-color: #cf890f;
    border-radius: 4px;
}
.hero-left p{
    margin-top: 20px;
}
/* new */
.zuni-center{
    height: 300px;
    width: 300px;
    border-radius: 200px;
    /* border: 2px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 115px;
    padding: 100px;

}
.zuni-center img {
   /* height:250px; */
   /* width:250px; */
   border-radius: 200px;
   margin-left: -96px;
   margin-top: 90px;
   
}
.hero-right{
    margin-top: 10%;
    max-width: 300px;
    margin-left: 130px;
}
.hero-right h3{
    color: #ccc;
}
.hero-right p{
    margin-top: 8px;
}
.seeMore span{
    margin-top: 15px;
    font-size: 18px;
}
.hero-right .social-icons{
    color: #cf890f;
    margin-top: 30px;
    gap: 20px;
}
.iconContainer {
    margin-top: 20px;
    display: flex;
}
.iconContainer div {
    background-color: rgba(184, 184, 184, 0.4);
    color: #fcba1f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px
  }
  
  .iconContainer div > i {
    font-size: 30px;
  }
/* .social-icons ion-icon{
    padding: 12px;
    background-color: #9c9eaa5d;
    border-radius: 50%;
    cursor: pointer; */


/* service-section */

.service-section{
    width: 100%;
    background-color: #282834;
}
.parent-social-network{
    width: 100%;
    position: relative;
    top: 70px;
    justify-content: center;
}
.social-networks{
    width: 80%;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #828591;
    gap: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0,0,0.16);
}
.social-logos{
    flex: 1 1 150px;
    height: 60px;
    background-color: #282834;
    padding: 15px 25px; 
    border-radius: 4px;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
}
.social-logos img{
    width: 100px;
}
.service-content{
    width: 100%;
    padding: 20% 60px 60px;
    justify-content: space-between;
}
.service-left{
    width: 40%;
}
.service-left h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.workDonePart{
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-done{
    margin-top: 30px;
    width: 150px;
}
.work-done span{
    font-size: 22px;
}
.service-right{
    width: 50%;
    padding: 50px;
    flex-direction: column;
    gap: 30px;
}
.services-row{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #9a9da8;
    gap: 35px;
    overflow: hidden;
}
.services-row img{
    width: 130px;
}
.text-row h2{
    font-size: 20px;
    color: #9a9da8;
}
.services-row span{
    margin-left: 50px;
}
.services-cards{
    width: 100%;
    position: relative;
    bottom: -150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.service-card{
    width: 300px;
    height: 300px;
    padding: 30px 20px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    border: 1px solid #999;
    background-color: #464957;
    box-shadow: 0px 0px 12px rgba(10, 10, 10, 0.596);
    cursor: pointer;
}
.service-card i{
    color: #cf890f;
    padding: 12px;
    background-color: #9c9eaa5d;
    border-radius: 50%;
    cursor: pointer;
}
.service-card h2,p{
    color: #ccc;
}

/* About-section */

.About-section{
    width: 100%;
    background-color: #48495B;
}
.about-content{
    padding: 20% 30px 80px;
}
.about-left{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.about-left img{
    width: 400px;
    border-radius: 15px;
}
.about-right{
    width: 50%;
    max-width: 500px;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    align-self: flex-start;
}
.about-right h1{
    font-size: 35px;
}
.about-right p{
    line-height: 27px;
}
.about-right .btns{
    margin-top: 30px;
    gap: 30px;
}
.btns .btn{
    padding: 12px 30px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background-color: transparent;
    color: white;
    /* color: #cf890f; */
    border: 1px solid #cf890f;
}
.btns .btn:hover{
    background-color: #fcba1f;
}

/* footer */

footer{
    width: 100%;
    background-color: #282834;
}
.footer-content{
    padding: 50px 20px;
    justify-content: space-evenly;
    
}
.footer-column{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    align-self: flex-start;
}
.footer-column h3{
    color: #ddd;
    letter-spacing: 1px;
}
.footer-column ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-column ul li a{
    color: #828591;
}
.footer-column p{
    max-width: 300px;
}
.footer-column > .social-icons{
    margin-top: 10px;
    gap: 20px;
    color: #cf890f;
}

/* sub-footer */

.sub-footer{
    border-top: 1px solid #828591;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-footer h1{
    font-size: 25px;
}
